In [6]:
# list data types

list = []

print(list)
print(type(list))

[]
<class 'list'>

In [12]:
list = ["Datta","Amma","bammnaa","illamama",1,2,3,4,5]


print(list)

['Datta', 'Amma', 'bammnaa', 'illamama', 1, 2, 3, 4, 5]

In [17]:
# accessing list elements indexing method

fruits = ["Apple","banana","cherry","mango"]

fruits[1]
print(fruits[3])

mango

In [25]:
print(fruits[3])
print(fruits[1])
print(fruits[-1])
print(fruits[-1:])
print(fruits[3:])
fruits[:2]
fruits[2:]

mango
banana
mango
['mango']
['mango']

['cherry', 'mango']

In [26]:
# modified list elements

fruits.append("papaya")

print(fruits)

['Apple', 'banana', 'cherry', 'mango', 'papaya']

In [29]:
# replace values in list

fruits[4] = "peru"
fruits

fruits[1] = "safarchand"
fruits

['Apple', 'safarchand', 'cherry', 'mango', 'peru']

In [ ]:
# list Method

fruits.append("Orango") # add item in the end
fruits

['Apple', 'safarchand', 'cherry', 'mango', 'peru', 'Orango']

In [31]:
# list item need to add as per indexing number

fruits.insert(3,"bora")
fruits

['Apple', 'safarchand', 'cherry', 'bora', 'mango', 'peru', 'Orango']

In [32]:
# remove list item

fruits.remove("bora")
fruits

['Apple', 'safarchand', 'cherry', 'mango', 'peru', 'Orango']

In [36]:
# remove an return last item

popped_fruits = fruits.pop()
print(popped_fruits)
print(fruits)

safarchand
['Apple']

In [ ]:
fruits.pop()
fruits

In [ ]:
# i want to know the index number as per fruit name

fruits.index("Apple")

0

In [41]:
Index = fruits.index("Apple")
print(Index)

0

In [ ]:
# sorting the fruits elements

fruits.sort()
print(fruits)
fruits

['Apple', 'Banana', 'Kiwi', 'Mango']

['Apple', 'Banana', 'Kiwi', 'Mango']

In [ ]:
# reverse 

fruits.reverse()

In [56]:
fruits

['Mango', 'Kiwi', 'Banana', 'Apple']

In [57]:
# how to clear list elements

fruits.clear()

In [58]:
fruits

[]

In [61]:
# slicing list
numbers= [1,2,3,4,5,6,7,8,9,10]

print(numbers[2:])
print(numbers[3:7])
print(numbers[5:])
print(numbers[:5])
print(numbers[4::])
print(numbers[::5])
print(numbers[-3:])
print(numbers[::-4])

[3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9, 10]
[1, 6]
[8, 9, 10]
[10, 6, 2]

In [72]:
# iterate over list

for number in numbers:
    print(number)

TypeError: 'int' object is not iterable

In [76]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [78]:
for index,number in enumerate(numbers):
    print(index,numbers)

0 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
5 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
6 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
7 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
8 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
9 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
# list Comprehensive

lst = []

for x in  range (12):
    lst.append(x**2)
    
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [84]:
# list Comprehensive aletrnative

[x**3 for x in range(12)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [86]:
### list Comprehensive
square = [x**2 for x in range(12)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [94]:
lst = []

for i in range(14):
    if i % 2 == 0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10, 12]

In [100]:
even_number = [num for i in range (30) if num % 2 == 0]
print(even_number)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [106]:
# nested List Comprehensive

lst1 = [1,2,3,4,5]
lst2 = ['som','mangal','buth','guru','shukra','shani']

pair = [[i,j]for i in lst1 for j in lst2]
print(pair)
pair

[[1, 'som'], [1, 'mangal'], [1, 'buth'], [1, 'guru'], [1, 'shukra'], [1, 'shani'], [2, 'som'], [2, 'mangal'], [2, 'buth'], [2, 'guru'], [2, 'shukra'], [2, 'shani'], [3, 'som'], [3, 'mangal'], [3, 'buth'], [3, 'guru'], [3, 'shukra'], [3, 'shani'], [4, 'som'], [4, 'mangal'], [4, 'buth'], [4, 'guru'], [4, 'shukra'], [4, 'shani'], [5, 'som'], [5, 'mangal'], [5, 'buth'], [5, 'guru'], [5, 'shukra'], [5, 'shani']]

[[1, 'som'],
 [1, 'mangal'],
 [1, 'buth'],
 [1, 'guru'],
 [1, 'shukra'],
 [1, 'shani'],
 [2, 'som'],
 [2, 'mangal'],
 [2, 'buth'],
 [2, 'guru'],
 [2, 'shukra'],
 [2, 'shani'],
 [3, 'som'],
 [3, 'mangal'],
 [3, 'buth'],
 [3, 'guru'],
 [3, 'shukra'],
 [3, 'shani'],
 [4, 'som'],
 [4, 'mangal'],
 [4, 'buth'],
 [4, 'guru'],
 [4, 'shukra'],
 [4, 'shani'],
 [5, 'som'],
 [5, 'mangal'],
 [5, 'buth'],
 [5, 'guru'],
 [5, 'shukra'],
 [5, 'shani']]

In [107]:
# list Comprehensive with function calls
word =  ["brahma rakshas", "chetuk","visfotak","chakwa","khaise"]

lenght = [len(word) for word in word]

print(lenght)

[14, 6, 8, 6, 6]