In [1]:
Address = "Kharghar-gao"
name = "mannu fishwala"
occupation = "Fisher-men"

print("Address", Address)
print("name", name)
print("occupation", occupation)

Address Kharghar-gao
name mannu fishwala
occupation Fisher-men

In [11]:
name = "Mannu"
Name = "fishwala"

print(type(name))
print(type(Name))

<class 'str'>
<class 'str'>

In [16]:
name = "Mannu"

name = bool(name)
print(name)
print(type(name))

True
<class 'bool'>

In [18]:
pincode = '410210'

print(type(pincode))

pincode = int(pincode)
print(type(pincode))

<class 'str'>
<class 'int'>

In [21]:
height = 157

print(type(height))

height = float(height)

print(type(height))

<class 'int'>
<class 'float'>

In [24]:
Age = int(input("Please enter desire Age"))
print(age,type(age))

25 <class 'int'>

In [25]:
Num1 = int(input("Please enter desire number"))
Num2 = int(input("Please enter desire number"))

sum = Num1 + Num2
diffrence = Num1 - Num2
product = Num1 * Num2
quotent = Num1 / Num2


print("Sum", sum)
print("diffrence", diffrence)
print("product",product)
print("quotent", quotent)

Sum 21
diffrence -7
product 98
quotent 0.5