In [1]:
age = 53

print(type(age))

<class 'int'>

In [2]:
age = bool(age)
print(type(age))

<class 'bool'>

In [5]:
distace  = 35.7 
print(type(distace))

<class 'float'>

In [9]:
a = 10
b = 20

a==b

False

In [ ]:
# LISTS – Practice Questions

station = ["Bandra","Khar","Malad","Andheri"]

print(station)

['Bandra', 'Khar', 'Malad', 'Andheri']

In [14]:
# add the content


station.append("Boriwali")

print(station)

['Bandra', 'goregaon', 'Malad', 'Andheri', 'malad', 'malad', 'Boriwali']

In [15]:
# replace the values

station[1]= "goregaon"

print(station)

['Bandra', 'goregaon', 'Malad', 'Andheri', 'malad', 'malad', 'Boriwali']

In [16]:
# remove specific item

station.remove("Boriwali")
print(station)

['Bandra', 'goregaon', 'Malad', 'Andheri', 'malad', 'malad']

In [17]:
# remove specific index

station.pop(2)
print(station)

['Bandra', 'goregaon', 'Andheri', 'malad', 'malad']

In [18]:
station.append("Boriwali")
print(station)

['Bandra', 'goregaon', 'Andheri', 'malad', 'malad', 'Boriwali']

In [26]:
print(len(station))

6

In [36]:
print(station)
print(station[:3])
print(station[:-2])

['Bandra', 'goregaon', 'Andheri', 'malad', 'malad', 'Boriwali']
['Bandra', 'goregaon', 'Andheri']
['Bandra', 'goregaon', 'Andheri', 'malad']

In [ ]:
#####  Sort and Slice

In [24]:
number = [1,2,3,6,5,4,8,9,7,6]

## Accending Sort
number.sort(reverse= False)

print(number)

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9]

In [22]:
## desending sorting

number.sort(reverse= True)
print(number)

[9, 8, 7, 6, 6, 5, 4, 3, 2, 1]

In [29]:
print(number[:4])

[1, 2, 3, 4]

In [32]:
print(number[:-5])

[1, 2, 3, 4, 5]

In [45]:
# TUPLES – Practice Questions

#Access Tuple Elements

dimension = (100,200,300,400)

print(dimension)

print(dimension[:-1])

print(dimension[-1])

print(dimension[2])

print(dimension[:2])

(100, 200, 300, 400)
(100, 200, 300)
400
300
(100, 200)

In [ ]:
#Convert Tuple to List and Back

colurs = ("blue","Red", "green")

print(colurs)

colurs.append("amber")
print(colurs)

('blue', 'Red', 'green')

AttributeError: 'tuple' object has no attribute 'append'

In [51]:
# solution
colurs = ("blue","Red", "green")
colurs_list = list(colurs)
colurs_list.append("amber")
colurs =tuple(colurs_list)
print(colurs)

('blue', 'Red', 'green', 'amber')

In [54]:
Fruits = ("Monago","Banana","Fig","Apple")
print(Fruits)

Fruits_list = list(Fruits)
Fruits_list.append("sitaphal")
#Fruits.append("sitaphal")
Fruits = tuple(Fruits_list)
print(Fruits)

('Monago', 'Banana', 'Fig', 'Apple')
('Monago', 'Banana', 'Fig', 'Apple', 'sitaphal')

In [56]:
busstop = ("BKC","Marol","pawai")
print(busstop)

busstop_list = list(busstop)
busstop_list.append("Gharkul")
busstop= tuple(busstop_list)
print(busstop)

('BKC', 'Marol', 'pawai')
('BKC', 'Marol', 'pawai', 'Gharkul')

In [58]:
place = ('jammu','mujjam','kunjam')
print(place)

place_list = list(place)
place_list.append('copergate')
place = tuple(place_list)
print(place)

('jammu', 'mujjam', 'kunjam')
('jammu', 'mujjam', 'kunjam', 'copergate')

In [59]:
# SETS – Practice Questions

In [ ]:
data = [1,2,2,3,4,4,5,6,7,8,9,2,3,5,7,7,8]

print(data)




print(set(data))

[1, 2, 2, 3, 4, 4, 5, 6, 7, 8, 9, 2, 3, 5, 7, 7, 8]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [64]:
unique_value = set(data)
print(unique_value)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Set Operations

x = {1,2,3,4}
y = {4,6,7,9}


print(a | b)  # unique

print(a & b)  # intersection

30

In [ ]:
# DICTIONARIES – Practice Questions

In [73]:
student = {
    'student_name' :'Monish',
    'course' : 'Data science',
    'city' : 'Navi Mumbai'
}

print(student)

{'student_name': 'Monish', 'course': 'Data science', 'city': 'Navi Mumbai'}

In [76]:
student["Student_name"] = "Mahadev"

student['city'] = 'alibagh'

print(student)

{'student_name': 'Monish', 'course': 'Data science', 'city': 'alibagh', 'Student_name': 'Mahadev'}

In [2]:
brand = ("TATA","AshokLeyland","Benz")
print(brand)

brand_list = list(brand)
brand_list.append("mitsubishi")
brand = tuple(brand_list)

print(brand)

('TATA', 'AshokLeyland', 'Benz')
('TATA', 'AshokLeyland', 'Benz', 'mitsubishi')