In [ ]:

## Basic Syntax Rules In Python
## Case sensitivity- Python is case sensitive

name = "monish"
Name = "dicosta"

print(name)
print(Name)

monish
dicosta

In [3]:
Age = 35

if Age > 30:
    print(Age)
    
print(Age)

35
35

In [9]:
result = "Andheri" + str(35)
print(result)

Andheri35

In [11]:
result =f"Andheri {35}"
print(result)

Andheri 35

In [5]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

Age = 30

if Age > 20:
    
    print(Age)
    
print(Age)

30
30

In [9]:
Age = 30

if Age < 29:
    print(Age)
    
print(Age)

30

In [10]:
## This is a single line comment

print("Hello tison")

Hello tison

In [11]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line


Address = "Andheri West, Vijay nagar, near marol\
police quarter, marol maroshi, mumbai"

print(Address)

Andheri West, Vijay nagar, near marolpolice quarter, marol maroshi, mumbai

In [13]:

Address = "Andheri West, Vijay nagar, near marol/police quarter, marol maroshi, mumbai"
print(Address)

Andheri West, Vijay nagar, near marol/police quarter, marol maroshi, mumbai

In [16]:
A=5
B=10
c = A+B

print(c)

15

In [18]:
Age = 15

name = "sundar"


print(type(Age))
type(name)

<class 'int'>

str

In [19]:
if True:
    print("Correct Indetation")
    if False:
        print("This out print")
    print("This Will Print")
print("Outside the if block")

Correct Indetation
This Will Print
Outside the if block