In [2]:
# Tuples

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst = list()
print(type(lst))

tpl = tuple()
print(type(tuple))

<class 'list'>
<class 'type'>

In [9]:
# tuples to list conversion

numbers = tuple([1,2,3,4,5,6,7,8,9])
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [12]:
# list to tuples conversion

list((1,2,3,4,5,6,7,8,9,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#  mix tuples

mixed_tupes = [1,2,3,4,5,"john","rocky"]

print(mixed_tupes)

[1, 2, 3, 4, 5, 'john', 'rocky']

In [20]:
# accessing tuples elements
numbers
print(numbers[2])
print(numbers[4])

3
5

In [1]:
# Example variables
numbers = [1, 2, 3]
mixed_tuples = (4, 'a', 5.5)

In [3]:
# CONCATENATION OPERATION 
Concat_tuples = tuple(numbers) + mixed_tuples
print(Concat_tuples )

(1, 2, 3, 4, 'a', 5.5)

In [ ]:
# tuples method 
numbers.count(1)

0

In [7]:
# check tuples index
numbers.index(1)

0

In [10]:
# packing and unpacking tuples
packed_tuple = 1,"vijay",3.68
print(packed_tuple)

(1, 'vijay', 3.68)

In [12]:
#  unpacking tuples

a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
vijay
3.68

In [15]:
#  unpacking tuples by * method

numbers21= (11,12,13,14,15,16,17,18,19,20)
numbers21
first, * middle, last = numbers21
print(first)
print(middle)
print(last)

11
[12, 13, 14, 15, 16, 17, 18, 19]
20

In [ ]:
# nested list
lst= [[1,2,3],[4,5,6,7],[8,9,10,"Andheri"]]
lst

[[1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 'Andheri']]

In [22]:
print(lst[0:1])
print(lst[1:2])
print(lst[2:1])

[[1, 2, 3]]
[[4, 5, 6, 7]]
[]

In [27]:
# nested tuples

Nested_tuples = ((2,4,6),(8,6,3),(11,33,44,56))
Nested_tuples

((2, 4, 6), (8, 6, 3), (11, 33, 44, 56))

In [31]:
Nested_tuples[0:1]
Nested_tuples[1][2]

3

In [33]:
# interating over nested tuples

for sub_total in Nested_tuples:
    for items in sub_total:
        print(items," ")
    print()

2
4
6

8
6
3

11
33
44
56